form 
{
    text-align: center;
}

html
{
    height: 100%; /* Needed to display the picture in fullscreen */
}

body
{
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrapper
{
    background-image: url("../images/backgrounds/desktop.jpg");
    background-size: 100%;
    width: 100%;
    height: 100%;
    min-width: 950px;
}