@font-face
{
    font-family: 'Bellota-LightItalic';
    src: url('../fonts/Bellota-LightItalic.otf');
}

@font-face
{
    font-family: 'Bellota-BoldItalic';
    src: url('../fonts/Bellota-BoldItalic.otf');
}

body {
    line-height: 17px;
}

.top_bar {
    width: 100%;
    min-width: 1050px;  /*Will stop the resizing of the bar menu */
    height: 40px;
    background-color: #2980b9;
    border-bottom: 0.25em solid #3498db;
    margin: 0 0 10px 0;
    display: inline-flex;
}

.logo a{
    font-family: 'Bellota-BoldItalic', sans-serif;
    margin-left: 10px;
    font-size: 30;
    position: relative;
    top: 9px;
    color: wheat;
}

a:hover {
    text-decoration: none; /* Remove decoration when it is hovered */
}

nav {
    float: right;
    right: 1px;
    position: absolute;
    margin: 10px;
}

nav a {
    position: relative;
    color: wheat;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    border-bottom: 5px solid wheat;
    color: wheat;
}